<blockquote class="quote">
    <p class="quote__text"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia, nemo quos? Magnam natus adipisci sequi quis similique corrupti quae, deleniti possimus quos iste debitis quas ab. Ut pariatur dolore error. </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="./images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body">
          <h3 class="media__title quote__author">John Smith</h3>
          <p class="quote__organization">Alphabet Inc</p>
        </div>
      </div>
    </footer>
  </blockquote>